/*기본*/
#wrap{ width:100%; min-width:1100px; height:100%; position:relative; }
#header{ width:100%; min-width:1100px; position:relative; }
#container{ width:100%; min-width:1100px; position:relative; }
#footer{ width:100%; min-width:1100px;  }
.clear{ display:block; clear:both; content:''; }
#dim{ width:100%; height:100%; background:#000; opacity:0.8; position:fixed; left:0; top:0; display:none; z-index:10; }
#allMenu{ width:1112px; background:#f7f7f7; padding:59px 0 34px 0; position:absolute; left:50%; top:120px; margin-left:-556px; display:none; z-index:15; }

/* 전체메뉴 */
.allMenu__menuWrap{ position:relative; }
.allMenu__menuWrap:after{ content:''; display:block; clear:both; }
.allMenu__menuWrap__btn-allMenu{ width:30px; height:31px; position:absolute; top:-40px; right:25px; display:block; }
.allMenu__menuWrap__menuListWrap{ width:224px; margin:20px 27px 0 27px; float:left; }
h3.allMenu__menuWrap__menuListTitle{ margin-bottom:9px; }
h3.allMenu__menuWrap__menuListTitle a{ background:#014495; color:#fff; font-size:18px; text-align:center; display:block; padding:23px 0; }
.allMenu__menuWrap__menuList{ margin-bottom:5px; background:#fff; border:1px solid #dbdbdb; }
.allMenu__menuWrap__menuList > a{ display:block; text-align:left; padding:17px 0 16px 17px; color:#3b3b3b; font-size:14px; }
.allMenu__menuWrap__menuList ul{ padding:7px 0 20px 27px; }
.allMenu__menuWrap__menuList ul li a{ display:block; font-size:13px; color:#777676; padding-bottom:8px; }

/* navigation */
.naviGation{ width:100%; position:fixed; z-index:200; left:0; top:0; }
#navi{ width:1280px; margin:0 auto; position:relative; }
#navi ul{ position:absolute; top:340px; right:0; }
#navi ul li{ margin-bottom:7px; }
#navi ul li a{ display:block; width:18px; height:16px; background:url('../img/common/ico_navHome.png') no-repeat 0 0 ; }
#navi ul li + li a{ display:block; width:18px; height:12px; background:url('../img/common/ico_navi_off.png') no-repeat 0 0; }
#navi ul li + li a:hover{ width:18px; height:12px; background:url('../img/common/ico_navi_on.png') no-repeat 0 0; }
#navi ul li + li a.on{ width:18px; height:12px; background:url('../img/common/ico_navi_on.png') no-repeat 0 0; }
#navi ul.coloR li a{ display:block; width:18px; height:16px; background:url('../img/common/ico_navHomeOn.png') no-repeat 0 0 ; }
#navi ul.coloR li + li a{ display:block; width:18px; height:12px; background:url('../img/common/ico_navi02_off.png') no-repeat 0 0; }
#navi ul.coloR li + li a:hover{ width:18px; height:12px; background:url('../img/common/ico_navi02_on.png') no-repeat 0 0; }
#navi ul.coloR li + li a.on{ width:18px; height:12px; background:url('../img/common/ico_navi02_on.png') no-repeat 0 0; }

table{ table-layout:fixed; }

/* float */
.float_r{ float:right !important; }
.float_l{ float:left !important; }

/* paging */
.paginate{ width:560px; margin:0 auto; margin-bottom:150px; }
.paginate .list span a:hover{ background:#ffd200; color:#423400; }
.paging_wrap{ clear:both; display:inline-block; overflow:hidden; width:100%; margin-bottom:30px; }
.paginate span.list{ display:inline-block; vertical-align:middle; }
.paginate span.list span, .paginate span.list strong{ display:inline-block; margin-right:-3px; }
.paginate span.list span a{ line-height:16px; width:38px; height:16px; display:inline-block; border:1px solid #dadada; padding:10px 0; color:#6f6f70; font-size:14px; text-align:center; }
.paginate span.list strong{ margin-left:5px; display:inline-block; padding:10px 0; color:#dadada; font-size:14px; border:1px solid #dadada; }
.paginate span.list span a.active{ background:#ffd200; color:#423400; }
.paginate span.pre{ position:relative; background:#fff; text-align:center; padding-right:1px !important; text-align:right; display:inline-block !important; }
.paginate span.nxt{ position:relative; background:#fff; text-align:center; padding-left:1px !important; text-align:left; display:inline-block !important; }
.paginate span.pre img, .paginate span.nxt img{ vertical-align:middle; }
.paginate span.pre a, .paginate span.nxt a{ padding:0 !important; margin:0 !important; }

/* background_공통 */
.bgNone{background:none !important;}

/* text_공통 */
.alignL{ text-align:left !important; }
.alignC{ text-align:center !important; }
.alignR{ text-align:right !important; }

/* font-weight_공통 */
.fwBold{ font-weight:bold !important; }

/* font-highlight */
.highlight{ background:url('../img/sub/product/subProductWrap05-Inner__subProductWrap05-Text__p__highlight.png') center bottom repeat-x !important; }

/* ico_공통 */
span.ico_new{ display:inline-block; vertical-align:middle; padding-left:10px; width:25px; height:25px; background:url('../img/sub/common/ico_new.png') right center no-repeat; }
.star{ color:#014495; }

/* button_공통 */
.btnLeftWrap{ text-align:left; }
.btnCenterWrap{ text-align:center; }
.btnRightWrap{ text-align:right; }
.btnType01{ display:block; text-align:center; background:#014495; color:#fff; font-weight:600; font-size:13px; border-radius:3px; padding:10px; line-height:13px; }

/* color_공통 */
.clr0d4d94{ color:#0d4d94 !important; }
.clrfade7d{ color:#fade7d !important; }
.clrb4ef67{ color:#b4ef67 !important; }
.clr00968a{ color:#00968a !important; }
.clr139da9{ color:#139da9 !important; }
.clrfec02c{ color:#fec02c !important; }
.clrffe065{ color:#ffe065 !important; }
.clrff6458{ color:#ff6458 !important; }
.clr4c4c4c{ color:#4c4c4c !important; }
.clr51cac3{ color:#51cac3 !important; }
.clr5a5a5a{ color:#5a5a5a !important; }
.clr00476c{ color:#00476c !important; }
.clr0d3e74{ color:#0d3e74 !important; }
.clr185c7f{ color:#185c7f !important; }
.clr000{ color:#000 !important; }
.clrff7826{ color:#ff7826 !important; }
.clr00468a{ color:#00468a !important; }
.clr3e3e3e{ color:#3e3e3e !important; }
.clr5abfca{ color:#5abfca !important; }
.clr40d8ee{ color:#40d8ee !important; }
.clr636363{ color:#636363 !important; }
.clr0e1220{ color:#0e1220 !important; }
.clr34bfff{ color:#34bfff !important; }
.clrff8484{ color:#ff8484 !important; }
.clr00bed4{ color:#00bed4 !important; }
.clr818181{ color:#818181 !important; }
.clr292929{ color:#292929 !important; }
.clr014495{ color:#014495 !important; }
.clr313131{ color:#313131 !important; }

/* font-size_공통 */
.fsize18{ font-size:18px !important; }
.fsize24{ font-size:24px !important; }
.fsize28{ font-size:28px !important; }
.fsize30{ font-size:30px !important; }
.fsize36{ font-size:36px !important; }
.fsize40{ font-size:40px !important; }
.fsize45{ font-size:45px !important; }

/* padding_공통 */
.pt_0{padding-top:0 !important;}
.pt_5{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_15{padding-top:15px !important;}
.pt_20{padding-top:20px !important;}
.pt_25{padding-top:25px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_45{padding-top:45px !important;}
.pt_50{padding-top:50px !important;}

.pb_0{padding-bottom:0 !important;}
.pb_5{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_15{padding-bottom:15px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}
.pb_30{padding-bottom:30px !important;}
.pb_35{padding-bottom:35px !important;}
.pb_40{padding-bottom:40px !important;}
.pb_45{padding-bottom:45px !important;}
.pb_50{padding-bottom:50px !important;}

.pr_0{padding-right:0 !important;}
.pr_5{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_15{padding-right:15px !important;}
.pr_20{padding-right:20px !important;}
.pr_25{padding-right:25px !important;}
.pr_30{padding-right:30px !important;}
.pr_35{padding-right:35px !important;}
.pr_40{padding-right:40px !important;}
.pr_45{padding-right:45px !important;}
.pr_50{padding-right:50px !important;}

.pl_0{padding-left:0 !important;}
.pl_5{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_15{padding-left:15px !important;}
.pl_20{padding-left:20px !important;}
.pl_25{padding-left:25px !important;}
.pl_30{padding-left:30px !important;}
.pl_35{padding-left:35px !important;}
.pl_40{padding-left:40px !important;}
.pl_45{padding-left:45px !important;}
.pl_50{padding-left:50px !important;}

/* margin_공통 */
.mt_0{margin-top:0 !important;}
.mt_5{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}

.mb_0{margin-bottom:0 !important;}
.mb_5{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}

.mr_0{margin-right:0 !important;}
.mr_5{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}

.ml_0{margin-left:0 !important;}
.ml_5{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}

