

/* 로그인 비로그인 화면 제어 */
.loginStat{display:none;}
.logoutStat{display:block;}


/* CSS Document */
 input.inputstyle{text-indent:5px;padding: 8px 0 8px 0;border: 1px solid #ccc;color:#000;}


/* search */
.selectType{ text-align:left;height:73px;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:30px;padding:0;padding-left:0; }
.searchTable { width:100%;/*margin-bottom:20px;*/ }
.searchTable td{ width:75%;padding-bottom:15px;vertical-align:top;color:#ababab; }
.searchTable td + td{ width:25%;padding-left:0; }
.searchTable td span{ color:#000;font-size:30px; }
.searchTable td.blackF{ font-size:30px; }
.search_btn{ width:100%;height:158px;display:block;border:1px solid #51a8a4;background:#6cbeba url('../img/sub/search_img.png') center center no-repeat; background-size:80px 120px; }
.search_tit{ font-size:40px;text-align:center;margin-bottom:40px;}
.checkbox{ width:auto;height:auto;margin-right:2.5%;/* border:1px solid #e1e1e1; */vertical-align:middle; }
.inputType{ text-align:left;height:73px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:30px;padding:0 !important;padding-left:1% !important; }

/* nosearch */
.noSearch{margin-bottom:15px;}
.noSearch img{ width:100%;}
/* success_search */
.search_result{ font-size:40px;text-align:center;padding-bottom:30px;margin-bottom:20px;border-bottom:1px solid #e1e1e1; }
.Search_area ul li.listName{ background:url('../img/sub/symbol.png') 15px center  no-repeat;background-size:30px 30px;margin-bottom:25px; }
.Search_area ul li.listName p{ float:left;margin-left:60px;font-size:35px;color:#000; }
.Search_area ul li.listReview{ background:#f9f9f9;margin-bottom:25px;border:1px solid #e1e1e1;padding:4%; }
.Search_area ul li.listReview p{ font-size:30px;color:#000;line-height:1.5em; }
.Search_area ul li.listReview p span{ text-decoration:underline;color:#67bab6;margin-bottom:15px;display:block; }
.more_btn{ text-align:center;background:#67bab6;color:#fff;padding:1% 0;width:15%;display:block;font-size:23px;border:1px solid #d2ebea; }


.liH{ line-height:35px; }
.liH01{ line-height:38px; }

/* faq&notice */
.faqArea li a{display:block;color:#000;font-size:38px;padding:7% 3% }
.faqArea li a span{display:block;text-align:right;color:#979797;font-size:38px;margin-top:5px; }
.listMore{ display:block;text-align:center;color:#000;font-size:45px;font-weight:bold;padding:5% 0;border-top:1px solid #d3d3d3;background:url('../img/common/btn_bg.gif') repeat-x 0 0; }
.bgGray{ background:#f1f1f1; }
.contentWrap.faq{ width:100%;margin:12px auto auto auto; }

.nameInfo{ margin:45px 5% 0 5%; }
.nameInfo li{ color:#000;font-size:40px;margin-bottom:35px; }
.nameInfo li span{ color:#67bab6; }
.nameInfo li > li{ color:#979797; }
.textBlock{ border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;padding:4% 5% 10% 5%;font-size:30px;line-height:1.5em; }
.btnArea{ text-align:center ;}
.btnArea a{ width:28%;display:block;color:#fff;font-size:35px;text-align:center;padding:3% 0;background:#a0a0a0;border:1px solid #a8a8a8;margin:15px auto 15px auto; }

.addFile {color:#000;font-size:35px;padding:3% 0;border-bottom:1px solid #d3d3d3;}
.addFile table td{vertical-align:top;width:40%;text-indent:15%;background:url('../img/common/dotgreen.gif') 30px 5px no-repeat; }
.addFile table td + td{ width:45%;background:none; }
.addFile table td ul li{ background:url('../img/common/fileicon.gif') 30px top no-repeat ;padding-bottom:10px; }
.addFile table td ul li a{ color:#979797;padding-left:5%; }



/* education */
.blockStyle{display:block;color:#000 !important;text-align:left !important;font-weight:bold;margin-bottom:10px;}
.select_Area{ padding:0 2% 0 2%; }
.winterArea{padding:10% 5% 10% 5%;border:1px solid #e1e1e1;margin:20px 0; }
.winterArea ul {width:100%;margin:0 auto; }
.winterArea ul li{ float:left;font-size:38px;line-height: 1.5em; }
.winterArea ul li span{ font-size:30px;color:#b9b9b9;display:inline-block;vertical-align:middle; }
.winterArea ul li a{ font-size:33px;color:#000;display:inline;vertical-align:middle; }
.winterArea ul li a:hover{ color:#67bab6; }
.winterArea ul li a.on{ color:#67bab6; }
.barwidth{ width:11.5%;text-align:center; }

.searchBar { width:100%;margin-bottom:30px; }
.searchBar td{ width:75%; }
.searchBar td + td{ width:25%;text-align:center; }
.searchBar td a.search_btn{ display:inline;width:100%;border-radius:15px;border:1px solid #ffbc00;text-align:center;background:#ffbc00;color:#fff;padding:3% 18%;font-size:28px; }

.versionT2{ 
	font-size:38px; background:url('../img/sub/symbol.png') left center no-repeat; background-size:30px 30px; 
	padding-left:5%; text-align:left !important;color:#000 !important; display:inline;
}
.fly{position:relative;right:0;bottom:50px;}
.changeSelect{display:none;}
.changeSelect.change01{display:block;}

/* safe */
.safeInfo{ border:1px solid #9198a4;background:#f4f8ff;padding:3% 5%;width:90%;margin:0 0 37px 0; }
.safeInfo .leftBlock{ float:left;width:75%; }
.safeInfo .leftBlock p.versionT{ color:#9198a4;margin-bottom:25px; }
.safeInfo .leftBlock p.checklist{font-size:30px;font-weight:bold;color:#000;}
.safeInfo .rightBlock{ float:right;width:20%; padding-right:0;}
.safeInfo .rightBlock a{display:block;font-weight:bold;font-size:30px;color:#000;text-align:center;padding:20% 0;border:1px solid #979797;background:#eeeeee;}

.blockType{ font-size:30px;margin-bottom:50px;border:1px solid #e1e1e1;background:#f9f9f9;padding:3% 2%; }

.tablem_type01 { width:100%;margin-bottom:25px; }
.tablem_type01 td{ width:25%;color:#000;font-size:30px;padding-bottom:10px; }
.tablem_type01 td + td{ width:75%; }
.tablem_type01  td label{ display:inline;vertical-align:middle;margin:0 5% 0 1%; }
.tablem_type01 textarea{ padding:2% 2% 10% 2%;font-size:30px;color:#000;background:#f5f5f5;border:1px solid #909090;width:96%;height:auto; }


.tablem_type01 ul li{float:left;width:50%;}

.tablem_type02 { width:100%;margin-bottom:25px; }
.tablem_type02 td{ width:80%;color:#000;font-size:30px;padding-bottom:10px; }
.tablem_type02 td + td{ width:20%; }
.tablem_type02  td label{display:inline;vertical-align:middle;margin:0 5% 0 1%;}
.tablem_type02 .search_btn{display:inline;width:100%;border-radius:15px;border:1px solid #ffbc00;text-align:center;background:#ffbc00;color:#fff;padding:3% 18%;font-size:28px; }
.radioType{ vertical-align:middle; width:30px;height:30px;}
a.search_btn2{ position:relative;right:0;display:inline;margin-right:15px;width:auto;border-radius:15px;border:1px solid #ffbc00;text-align:center;background:#ffbc00;color:#fff;padding:0.5% 3.5%;font-size:28px; }
a.search_btn3{ position:relative;right:0;display:inline;margin-right:15px;width:auto;border-radius:15px;border:1px solid #e1e1e1;text-align:center;background:#7b7b7b;color:#fff;padding:0.5% 3.5%;font-size:28px; }
.addimg{display:block;padding:5%;}
.addimg img{width:100%;padding-left:5px;padding-right:5px;margin-top:5px;}
.frepair{font-size:30px;}


.viewButton2{ text-align:center; }
.viewButton2 a{ display:inline-block; width:20%; padding:2%; color:#fff; font-size:37px; }
.viewButton2 a.button01{ background:#a3a3a3; border:1px solid #a8a8a8 !important; }
.viewButton2 a.button02{ background:#61b5b1; border:1px solid #51a8a4 !important; }
.viewButton2 a.button03{ background:#f0ba24; border:1px solid #dfa400 !important;  }


/* safe02 */
.center_info{ border:1px solid #e1e1e1;background:#f9f9f9 url('../img/sub/center_icon.png') 5% center  no-repeat;padding:10% 3%;background-size:151px 151px; margin-bottom:45px; }
.center_info p{font-size:34px;padding-left:20%;}


/* app_info */
.app_info li{padding-left:40px;text-indent:-40px;margin-bottom:20px;font-size:35px;}

/* guide */
.guide_tb td{vertical-align:top;}
.guide_tb td + td{padding-left:3%;}
.guide_tb td ul li{font-size:35px;color:#000;text-indent:-39px;padding-left:39px;margin-bottom:30px;}
.guide_tb td ul li span{font-size:50px;font-weight:bold;padding-right:5px;}
.guide_tb td img{width:100%;}


/* layer_popup */

.layerPopup{ display:none;background:url('../img/common/popup_bg.png') repeat 0 0 ;position:fixed;top:0;width:100%;height:100%;z-index:500;text-align:left; }
.layerPopup .layerSection{width:80%;display:block;margin:0 auto;margin-top:5%;background:#fff;padding-bottom:5%;}
.layerPopup.icheckPop .layerSection{width:80%;display:block;margin:0 auto;margin-top:5%;background:#fff;padding-bottom:0;}
.layerPopup.icheckPop .layerSection{width:80%;display:block;margin:0 auto;margin-top:25%;background:#fff;padding-bottom:0;}
.layerPopup .layerSection table{width:100%;font-size:35px;padding-bottom:10%;}
.layerPopup .layerSection table th{background:#67bab6;color:#fff;font-weight:normal;padding:3% 2%;}
.layerPopup .layerSection table th .popclose{float:right;}
.layerPopup .layerSection table th .popclose img{width:50px;height:50px;}
.layerPopup .layerSection table td{background:#fff;padding:3% 2%;border-bottom:1px solid #d8d8d8;}
.layerPopup .layerSection table td a{display:block;color:#000;}
.addressResult{display:none;}
.layerPopup.addressPop .layerSection table td{background:#fff;padding:1% 2% 1% 2%;border-bottom:none;}
.layerPopup.addressPop .layerSection table td p{margin:5px 0;font-size:25px;}
.layerPopup.addressPop .layerSection table td a.address_search{width:30%;margin:0 auto;display:block;border:1px solid #51a8a4;text-align:center;background:#65b8b4;color:#fff;padding:3% 5%;font-size:28px; }

.layerPopup.addressPop .layerSection .inputType{ text-align:left;height:60px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:30px;padding:0 !important;padding-left:1% !important; }
.layerPopup.addressPop .layerSection .selectType{ text-align:left;height:60px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:30px;padding:0;padding-left:1%; }


.layerPopup.addressPop .addressList{background:#f5f5f5;border:1px solid #e1e1e1;height:400px;overflow-y:scroll;}
.layerPopup.addressPop .addressList li{border-bottom:1px solid #e1e1e1;background:#f5f5f5;}
.layerPopup.addressPop .addressList li a{color:#ababab;font-size:20px;display:block;padding:2% 0 2% 2%;}
.layerPopup.addressPop .addressList li:hover{background:#a4c24c;}
.layerPopup.addressPop .addressList li:hover a{color:#fff;}

.hideTr{display:none;}
table tr td ul li .guideTT{font-weight:bold;color:#62b6b1 !important;font-size:35px;}
.arrowback {background:url('../img/common/arbg.jpg') repeat-x 0 0;text-align:center;padding:2% 0 !important;}
.arrowback img{width:50px !important;height:45px;}

.guide_tb td{ font-size:20px;padding:13px 0; }
.tabConAll20 .tab20 table td.simg img{width:98%;text-align:center;padding:0.2%;}



/* 150121 파일찾기 버튼 추가 */
/* 파일찾아보기 */
.wrap{width:100%; position:relative; margin-top:5px;}/* file_wrap의 위치를 임의로 감싸줌 */
.file_text{float:left; width:180px; height:58px; background-color:#f6f6f6; border:1px #eee; color:#777;}
/* 파일첨부했을 경우 경로가 나오는 input type="text" */
.file_wrap {display:inline-block; width:123px; height:73px; background:#000 url('../img/common/searchBtn.gif') 0 0 no-repeat; position:absolute; top:0; left:70%;background-size:100% 73px;border:1px solid #e1e1e1;}
/* display:inline-block으로 변경 버튼이미지를 배경이미지로 삽입, 전체 사이즈는 버튼 이미지 사이즈와 동일 위치 절대값 top:0; right0; 또는 top:0; left:input text 박스 크기 및 +여백만큼 */
.file_add { filter:alpha(opacity:0); opacity:0; width:100%; height:41px;}
/* input type="file" 투명도를 0으로 만들기. 사이즈는 버튼 이미지 사이즈와 동일하게 */



/* customSelect 150122 */

/* selectbox style */
span.customSelect {
    background:#f5f5f5 url("../img/common/select_bg.png") no-repeat scroll right center ;
    border: 1px solid #c9c9c9;
/* border-radius: 4px; */
    /*box-shadow: 1px 1px 2px #ececec inset; */
    color: #000;
    font: 30px sans-serif;
    height: 53px;
    padding: 10px 0 10px 1%;
    text-indent: 0;
    width: 99%;
    line-height:1.7em;
}


/* 해상도 800 이하에서 먹는 css */
@media screen and (max-width:800px){
.title span{ padding:17px 0 21px 32px; }
.title h1{ padding:35px 120px 40px 0; }	

.selectType{ text-align:left;height:58px;border:1px solid #e1e1e1;font-size:25px;padding:0;padding-left:1%; }
.inputType{ text-align:left;height:58px !important;border:1px solid #e1e1e1;font-size:25px;padding:0 !important;padding-left:1% !important; }
.search_tit{ font-size:30px;text-align:center;margin-bottom:30px;}
.search_btn{ height:135px;background:#6cbeba url('../img/sub/search_img.png') center center no-repeat; background-size:55px 75px; }
.searchTable td.blackF{ font-size:20px; }	

.faqArea li a{ font-size:30px; }
.faqArea li a span{ font-size:30px; }
.listMore{ font-size:40px;padding:5% 0; }

.nameInfo{ margin:45px 0 0 30px; }
.nameInfo li{ font-size:30px; }
.textBlock{ font-size:25px;line-height:1.5em;}
.btnArea a{ font-size:25px;padding:3% 0;}


.winterArea ul li{ float:left;font-size:35px;}
.winterArea ul li a{ font-size:30px;}
.barwidth{ width:10%;text-align:center; }


.tablem_type02 td{ width:75%;color:#000;font-size:30px;padding-bottom:10px; }
.tablem_type02 td + td{ width:25%; }

.center_info p{font-size:30px;padding-left:25%;}

.guide_tb td ul li{font-size:30px;color:#000;text-indent:-39px;padding-left:39px;margin-bottom:30px;}
.guide_tb td ul li span{font-size:40px;font-weight:bold;padding-right:5px;}

.layerPopup .layerSection table{font-size:30px;}
.layerPopup .layerSection table th .popclose img{width:30px;height:30px;}
.layerPopup.addressPop .layerSection table td p{margin:5px 0;font-size:20px;}


.tablem_type01 textarea{font-size:25px;}
.file_wrap {display:inline-block; width:108px; height:58px; background:#000 url('../img/common/searchBtn.gif') 0 0 no-repeat; position:absolute; top:0; left:70%;background-size:100% 58px;border:1px solid #e1e1e1;}


span.customSelect { height:38px;line-height:1.5em; background-size:;padding:10px 0 10px 1%;font-size:25px;}

}

/* 해상도 640 이하에서 먹는 css */
@media screen and (max-width:640px){
.title span{ padding:12px 0 15px 20px; }
.title h1{ padding:27px 90px 32px 0; font-size:50px; }

.searchTable td.blackF{ font-size:17px; }	
.selectType{ text-align:left;height:46px !important;font-size:20px; }
.inputType{ text-align:left;height:46px !important;font-size:20px; }
.search_tit{ font-size:20px;text-align:center;margin-bottom:20px; }

.search_btn{height:110px;background:#6cbeba url('../img/sub/search_img.png') center center no-repeat; background-size:45px 65px; }


.search_result{ font-size:27px; padding-bottom:30px;margin-bottom:10px;border-bottom:1px solid #e1e1e1; }
.Search_area ul li.listName{ background:url('../img/sub/symbol.png') 20px center  no-repeat;background-size:25px 25px;margin-bottom:20px; }
.Search_area ul li.listName p { float:left;margin-left:60px;font-size:25px;padding:1% 0; }
.Search_area ul li.listReview{ margin-bottom:20px; }
.Search_area ul li.listReview p{font-size:22px;color:#000;line-height:1.5em; }
.more_btn{font-size:20px; }

.searchTable td span{ color:#000;font-size:20px; }

.faqArea li a{ font-size:25px; }
.faqArea li a span{ font-size:25px; }
.listMore { font-size:35px;padding:5% 0; }

.addFile {font-size:25px;}
.addFile table td{text-indent:15%;background:url('../img/common/dotgreen.gif') 15px 2px no-repeat;background-size:11px 18px;padding-bottom:20px; }
.addFile table td ul li{ background:url('../img/common/fileicon.gif') 10px top no-repeat ;background-size:20px 25px; }

.winterArea ul li{ font-size:25px; }
.winterArea ul li span{ font-size:25px;}
.winterArea ul li a{ font-size:25px;}
.searchBar td a.search_btn{padding:3% 17%;font-size:25px;}
.barwidth{ width:9%;text-align:center; }

.versionT2{ 
	background:url('../img/sub/symbol.png') left center no-repeat; background-size:15px 15px; padding-left:8%; }
.viewButton2 a{ width:25%;font-size:20px; }

.tablem_type01 td{ font-size:20px;padding-bottom:10px; }
.tablem_type01 td{ width:40%;color:#000;font-size:30px;padding-bottom:10px; }
.tablem_type01 td + td{ width:60%; }

.tablem_type02 td{ width:70%;color:#000;font-size:20px;padding-bottom:10px; }
.tablem_type02 td + td{ width:30%; }



.safeInfo .leftBlock p.checklist{font-size:20px;font-weight:bold;color:#000;}
.safeInfo .rightBlock a{display:block;font-weight:bold;font-size:20px;color:#000;text-align:center;padding:20% 0;border:1px solid #979797;background:#eeeeee;}
.frepair{font-size:20px;}
.blockType{ font-size:20px;}
.radioType{ vertical-align:middle; width:15px;height:15px;}
.tablem_type01 textarea{ font-size:20px;}

.center_info{ padding:10% 3%;background-size:120px 120px; margin-bottom:45px; }
.center_info p{font-size:25px;padding-left:25%;}

.app_info li{padding-left:30px;text-indent:-30px;margin-bottom:20px;font-size:25px;}


.guide_tb td ul li{font-size:25px;color:#000;text-indent:-39px;padding-left:39px;margin-bottom:30px;}
.guide_tb td ul li span{font-size:35px;font-weight:bold;padding-right:5px;}


.layerPopup .layerSection table{font-size:20px;}
.layerPopup .layerSection table th .popclose img{width:25px;height:25px;}
.layerPopup.addressPop .addressList li a{font-size:20px;}
.layerPopup.addressPop .layerSection .inputType{ text-align:left;height:50px !important;font-size:20px; }
.layerPopup.addressPop .layerSection .selectType{ text-align:left;height:50px !important;font-size:20px; }

table tr td ul li .guideTT{font-size:25px;}



.file_wrap {display:inline-block; width:91px; height:46px; background:#000 url('../img/common/searchBtn.gif') 0 0 no-repeat; position:absolute; top:0; left:80%;background-size:100% 46px;border:1px solid #e1e1e1;}
.tablem_type01 ul li{float:left;width:50%;}

span.customSelect { height:26px;line-height:1.5em; background-size:31px 17px;padding:10px 0 10px 1%;font-size:20px;}
}	

/* 해상도 400 이하에서 먹는 css */
@media screen and (max-width:414px){
.title span{ padding:6px 0 7px 11px; }
.title h1{ padding:15px 50px 17px 0; font-size:30px; line-height:22px; }

.selectType{ text-align:left;height:35px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:15px;padding:0;padding-left:1% !important; }
.searchTable td{ width:65%;padding-bottom:15px;vertical-align:top;color:#ababab; }
.searchTable td + td{ width:35%; }
.searchTable td span{ color:#000;font-size:15px; }
.searchTable td.blackF{ font-size:13px; }
.search_tit{ font-size:15px;text-align:center;margin-bottom:15px;}

.search_btn{ width:100%;height:85px;display:block;border:1px solid #51a8a4;background:#6cbeba url('../img/sub/search_img.png') center center no-repeat; background-size:30px 50px; }
.checkbox{vertical-align:middle;margin-right:2.5%; }
.inputType{ text-align:left;height:35px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:15px;padding:0 !important;padding-left:1% !important; }
.frepair{font-size:25px;}

.liH{ line-height:18px; }
.liH01{ line-height:20px; }


.search_result{ font-size:20px;padding-bottom:30px;margin-bottom:10px;border-bottom:1px solid #e1e1e1;}
.Search_area ul li.listName{ background:url('../img/sub/symbol.png') 2px 6px  no-repeat;background-size:15px 15px;margin-bottom:17px; }
.Search_area ul li.listName p{float:left;margin-left:27px;font-size:17px;}
.Search_area ul li.listReview{margin-bottom:17px;}
.Search_area ul li.listReview p{font-size:15px;color:#000;line-height:1.5em;}
.more_btn{font-size:14px;}

.faqArea li a{font-size:18px;}
.faqArea li a span{font-size:18px;}
.listMore{font-size:25px;padding:5% 0;}

.nameInfo{margin:23px 5% 0 5%;}
.nameInfo li{font-size:16px;margin-bottom:15px;}
.textBlock{font-size:15px;line-height:1.5em;}
.btnArea a{font-size:15px;padding:3% 0;}

.addFile {font-size:15px;}
.addFile table td{text-indent:10%;background:url('../img/common/dotgreen.gif') 10px top no-repeat ;background-size:11px 18px; }
.addFile table td ul li a{ padding-left:4%; }


.winterArea ul li a{ font-size:16px;}
.winterArea ul li span{ font-size:20px;}
.searchBar td a.search_btn{padding:3% 14%;font-size:16px;}
.barwidth{ width:8%;text-align:center; }

.tablem_type01 td{ width:35%;color:#000;font-size:30px;padding-bottom:10px; }
.tablem_type01 td + td{ width:65%; }
.tablem_type01 td{ font-size:15px;padding-bottom:10px; }
.tablem_type02 td{ width:75%;color:#000;font-size:15px;padding-bottom:10px; }
.tablem_type02 td + td{ width:25%; }

.safeInfo .leftBlock p.checklist{font-size:15px;font-weight:bold;color:#000;}
.safeInfo .rightBlock a{display:block;font-weight:bold;font-size:15px;color:#000;text-align:center;padding:25% 0;border:1px solid #979797;background:#eeeeee;}
.frepair{font-size:15px;}
.blockType{ font-size:15px;}
.tablem_type02 .search_btn{padding:3% 9%;font-size:15px; }
a.search_btn2{padding:0.5% 3.5%;font-size:15px;margin-right:5px; }
a.search_btn3{padding:0.5% 3.5%;font-size:15px;margin-right:5px; }
.viewButton2 a{ width:25%;font-size:20px; }
.tablem_type01 textarea{ font-size:15px;}

.center_info{ padding:10% 3%;background-size:80px 80px; margin-bottom:27px; }
.center_info p{font-size:16px;padding-left:28%;}
.versionT{margin-bottom:15px !important;}

.app_info li{padding-left:20px;text-indent:-20px;margin-bottom:20px;font-size:20px;}


.guide_tb td ul li{font-size:16px;color:#000;text-indent:-20px;padding-left:20px;margin-bottom:15px;}
.guide_tb td ul li span{font-size:25px;font-weight:bold;padding-right:5px;}

.layerPopup .layerSection table{font-size:16px;}
.layerPopup .layerSection table th .popclose img{width:25px;height:25px;}
.layerPopup.addressPop .layerSection table td p{margin:5px 0;font-size:16px;}
.layerPopup.addressPop .addressList li a{font-size:16px;}
.layerPopup.addressPop .layerSection .inputType{ text-align:left;height:30px !important;font-size:16px;padding:0 !important;padding-left:1% !important; }
.layerPopup.addressPop .layerSection .selectType{ text-align:left;height:30px !important;font-size:16px;padding:0;padding-left:1% !important; }

table tr td ul li .guideTT{font-size:20px;}
.file_wrap {display:inline-block; width:80px; height:35px; background:#000 url('../img/common/searchBtn.gif') 0 0 no-repeat; position:absolute; top:0; left:70%;background-size:100% 35px;border:1px solid #e1e1e1;}


span.customSelect { height:15px;line-height:1.5em; background-size:31px 17px;padding:10px 0 10px 1%;font-size:15px;}
}	

/* 해상도 360 이하에서 먹는 css */
@media screen and (max-width:360px){
.title span{ padding:6px 0 7px 11px; }
.title h1{ padding:15px 50px 17px 0; font-size:30px; line-height:22px; }

.selectType{ text-align:left;height:35px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:15px;padding:0;padding-left:1% !important; }
.searchTable td{ width:65%;padding-bottom:15px;vertical-align:top;color:#ababab; }
.searchTable td + td{ width:35%; }
.searchTable td span{ color:#000;font-size:15px; }
.searchTable td.blackF{ font-size:13px; }
.search_tit{ font-size:15px;text-align:center;margin-bottom:15px;}

.search_btn{ width:100%;height:85px;display:block;border:1px solid #51a8a4;background:#6cbeba url('../img/sub/search_img.png') center center no-repeat; background-size:30px 50px; }
.checkbox{vertical-align:middle;margin-right:2.5%; }
.inputType{ text-align:left;height:35px !important;background:#f5f5f5 !important;border:1px solid #e1e1e1;font-size:15px;padding:0 !important;padding-left:1% !important; }
.frepair{font-size:25px;}

.liH{ line-height:18px; }
.liH01{ line-height:20px; }


.search_result{ font-size:20px;padding-bottom:30px;margin-bottom:10px;border-bottom:1px solid #e1e1e1;}
.Search_area ul li.listName{ background:url('../img/sub/symbol.png') 2px 6px  no-repeat;background-size:15px 15px;margin-bottom:17px; }
.Search_area ul li.listName p{float:left;margin-left:27px;font-size:17px;}
.Search_area ul li.listReview{margin-bottom:17px;}
.Search_area ul li.listReview p{font-size:15px;color:#000;line-height:1.5em;}
.more_btn{font-size:14px;}

.faqArea li a{font-size:18px;}
.faqArea li a span{font-size:18px;}
.listMore{font-size:25px;padding:5% 0;}

.nameInfo{margin:23px 5% 0 5%;}
.nameInfo li{font-size:16px;margin-bottom:15px;}
.textBlock{font-size:15px;line-height:1.5em;}
.btnArea a{font-size:15px;padding:3% 0;}

.addFile {font-size:15px;}
.addFile table td{text-indent:10%;background:url('../img/common/dotgreen.gif') 10px top no-repeat ;background-size:11px 18px; }
.addFile table td ul li a{ padding-left:4%; }


.winterArea ul li a{ font-size:16px;}
.winterArea ul li span{ font-size:20px;}
.searchBar td a.search_btn{padding:3% 14%;font-size:16px;}
.barwidth{ width:8%;text-align:center; }

.tablem_type01 td{ width:35%;color:#000;font-size:30px;padding-bottom:10px; }
.tablem_type01 td + td{ width:65%; }
.tablem_type01 td{ font-size:15px;padding-bottom:10px; }
.tablem_type02 td{ width:75%;color:#000;font-size:15px;padding-bottom:10px; }
.tablem_type02 td + td{ width:25%; }

.safeInfo .leftBlock p.checklist{font-size:15px;font-weight:bold;color:#000;}
.safeInfo .rightBlock a{display:block;font-weight:bold;font-size:15px;color:#000;text-align:center;padding:25% 0;border:1px solid #979797;background:#eeeeee;}
.frepair{font-size:15px;}
.blockType{ font-size:15px;}
.tablem_type02 .search_btn{padding:3% 9%;font-size:15px; }
a.search_btn2{padding:0.5% 3.5%;font-size:15px;margin-right:5px; }
a.search_btn3{padding:0.5% 3.5%;font-size:15px;margin-right:5px; }
.viewButton2 a{ width:25%;font-size:20px; }
.tablem_type01 textarea{ font-size:15px;}

.center_info{ padding:10% 3%;background-size:80px 80px; margin-bottom:27px; }
.center_info p{font-size:16px;padding-left:28%;}
.versionT{margin-bottom:15px !important;}

.app_info li{padding-left:20px;text-indent:-20px;margin-bottom:20px;font-size:20px;}


.guide_tb td ul li{font-size:16px;color:#000;text-indent:-20px;padding-left:20px;margin-bottom:15px;}
.guide_tb td ul li span{font-size:25px;font-weight:bold;padding-right:5px;}

.layerPopup .layerSection table{font-size:16px;}
.layerPopup .layerSection table th .popclose img{width:25px;height:25px;}
.layerPopup.addressPop .layerSection table td p{margin:5px 0;font-size:16px;}
.layerPopup.addressPop .addressList li a{font-size:16px;}
.layerPopup.addressPop .layerSection .inputType{ text-align:left;height:30px !important;font-size:16px;padding:0 !important;padding-left:1% !important; }
.layerPopup.addressPop .layerSection .selectType{ text-align:left;height:30px !important;font-size:16px;padding:0;padding-left:1% !important; }

table tr td ul li .guideTT{font-size:20px;}

span.customSelect { line-height:1.1em;}

}	



/* 해상도 320 이하에서 먹는 css */
@media screen and (max-width:320px){
.title h1{font-size:29px;letter-spacing:-1px;}
.barwidth{ width:7%;text-align:center; }

.tablem_type02 td{ width:60%;color:#000;font-size:15px;padding-bottom:10px; }
.tablem_type02 td + td{ width:40%; }

.center_info p{font-size:16px;padding-left:30%;}


p.versionT{ font-size:18px; padding-left:9%; background-size:20px 20px; }
.verT{ font-size:18px; }
.verC{ font-size:18px; }


.searchTable td{ width:60%;padding-bottom:15px;vertical-align:top;color:#ababab; }
.searchTable td + td{ width:40%; }

table tr td ul li .guideTT{font-size:18px;}
.file_wrap {display:inline-block; width:80px; height:35px; background:#000 url('../img/common/searchBtn.gif') 0 0 no-repeat; position:absolute; top:0; left:65%;background-size:100% 35px;border:1px solid #e1e1e1;}

}